/*
.ABCDEF  = class <- Los que tengan class= " "
#ABCDEF  = ID <- Los que tengan ID= " "

*/
body{ /* Cambiara el body completamente*/
padding: 10%; /*Desplazimiento en todos los sentidos del borde de la pantalla*/
font-size: 18px; /*Tamaño letras*/

/*Opciones del fondo*/
/*background-color: darkslategrey;*/ 
background: linear-gradient(to bottom right, darkslategrey, #363848);
background-position: center;
background-size: cover;

}

#bloqueInformacion { /*Cambia todo el bloque*/
    background-color: rgba(63, 63, 63, 1); /*Fondo de donde existe el texto*/
    padding: 1px; /*Desplazamiento de los 4 cantos*/
    padding-left: 10px; /*Lo que se separa del borde izquierdo*/
    padding-right: 10px; /*Lo que se separa del borde derecho*/
    text-align: justify; /*Formato text- justificar*/
    color: white; /*Texto color*/    
    box-shadow: 50%;
}

h2{ /*Aplicado a todos los elementos H2*/ /*Este SÍ se puede aplicar*/
color: #d0b0b0;
}
h3{
color: #d0b0b0;    
}
#botones{ /*Exterior de los botones*/ 
background-color: #d0b0b0;
padding: 1%;
margin-bottom: 5%;
border-radius: 5px;


}
#boton{ /*Botones en si mismo*/
background-color: #363848;    
color: white;
padding: 1%;
border-radius: 10%;

}
