/* Aseguramos que el body ocupe toda la altura y su contenido se disponga correctamente */
html,
body {
    height: 100%;
    /* Garantiza que el body ocupe toda la altura de la ventana */
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: yellow;
    text-decoration: none;
}

/* Usamos Flexbox para que el contenido ocupe toda la altura y el footer se quede abajo */
body {
    display: flex;
    flex-direction: column;
    /* Coloca los elementos en una columna */
    font-size: 16px;
    font-family: sans-serif;
    background: linear-gradient(to bottom right, darkslategrey, #363848);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* Fija el fondo */
}

/* Aseguramos que el contenido principal ocupe el espacio disponible */
.content {
    flex: 1;
    /* Hace que el contenido se expanda para ocupar todo el espacio disponible */
    padding-bottom: 3rem;
    /* Espacio para que el footer no quede pegado al contenido */
}

/* Barra superior con logo y botones */
#barraSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2b2b2b;
    padding: 10px 20px;
    z-index: 1000;
}

/* Imagen del logo */
#imagenLogo {
    width: 50px;
    height: auto;
    border-radius: 90%;
}

/* Contenedor de los botones de navegación */
#navegacion {
    display: flex;
    gap: 20px;
    padding-right: 3%;
}

/* Estilo de la clase .nombre (para alinear h4 a la izquierda) */
.nombre {
    color: #b1dbdb;
    padding-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo de los botones */
#boton {
    background-color: #c4151500;
    color: white;
    padding: 8px 16px;
    border-radius: 10%;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    transition: all 0.5s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Efecto hover en los botones */
#boton:hover {
    background-color: #ffffff;
    border-radius: 15px;
    border: #ffffff;
    font-weight: 600;
    color: #000000;
    font-family: Arial, sans-serif;
    padding: 8px 16px;
    transform: scale(1.05);
}

#bloqueInformacion:first-of-type {
    /* Se añade un first of type para poner un margen en la parte superior, ya que la posicion:fixed no admite los tipos de margin, debido al flujo */
    margin-top: 120px;
    /* Añade un margen por encima del primer bloque de informacion */
}

/* Sombra y margen para los bloques de información */
#bloqueInformacion {
    background-color: #3f3f3f;
    padding: 1px 40px;
    text-align: justify;
    color: rgb(228, 228, 228);
    box-shadow: 4px 4px 8px #00000033;
    margin: 10px 5%;
    /* Esto añade espacio a los lados (margen izquierdo y derecho) */
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Ajuste al pasar el mouse sobre los bloques de información */
#bloqueInformacion:hover {
    transform: scale(1.0040);
}

.imagenes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagenes img {
    max-height: 450px;
    margin: 0px 10px;
    object-fit: contain;
    border-radius: 2%;
    margin-bottom: 1%;
}

h2,h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b1dbdb;
}

/* Opciones de estilo para los botones de la página */
#botones {
    background-color: rgba(43, 43, 43, 1);
    padding: 5px;
    margin-bottom: 5%;
    border-radius: 5px;
    display: flex;
    gap: 20px;
}

/* Estilo del footer */
.footer {
    position: relative;
    bottom: 0;
    /* Asegura que esté al fondo */
    width: auto;
    /* Asegura que ocupe todo el ancho */
    padding: 2rem;
    background: #2b2b2b;
    margin-top: 30px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    z-index: 10;
}

.question {
    background-color: #3f3f3f;
    color: rgb(228, 228, 228);
    text-align: justify;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 1px 15px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedorBoton {
    margin-left: 5%;
    margin-right: 5%;
}

.botonFormulario {
    width: 70px;
    height: 40px;
    content: flex;
    color: white;
    background-color: #3f3f3f;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    transition: all 0.5s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedorContacto {
    margin-left: 48%;   
}

/* Efecto hover sobre el boton del formulario final de cada apartado */
.botonFormulario:hover {
    background-color: #ffffff;
    border-radius: 15px;
    font-weight: 600;
    border: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    transform: scale(1.05);
}

#clicFormulario summary {
    cursor: pointer;
    padding: 7px 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: rgb(214, 214, 214);
    font-size: 17px;
    margin: 10px 5%;
    background-color: rgba(63, 63, 63, 1);
    /* Fondo solo para el summary */
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Barra superior con logo y botones */
#barraSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2b2b2b;
    padding: 10px 20px;
    z-index: 1000;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

/* Contenedor de los botones de navegación */
#navegacion {
    display: flex;
    gap: 20px;
    padding-right: 3%;
    flex-wrap: wrap;
    /* Permite que los botones se acomoden en pantallas pequeñas */
    justify-content: center;
    /* Centra los botones cuando se ajusten */
}

/* Estilo de los botones */
#boton {
    background-color: #c4151500; /*Color de fondo*/
    color: white; /*color texto*/
    padding: 8px 16px; /*padding arriba y derecha*/
    border-radius: 10%; /*Redondea bordes*/
    cursor: pointer; /*Cambia el cursor*/
    border: none; /*borde*/
    text-align: center; /*Alineación texto*/
    font-weight: 600; /*Longitud de la tipografia*/
    font-size: 13px; /*Tamaño de la tipografia*/
    transition: all 0.5s ease-out; /*Transición*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Tipografia*/
}


#boton:hover { /*Ratón encima de ID botones*/
    background-color: #ffffff; /*Color de fondo*/
    border-radius: 15px; /*Suavizado del borde*/
    border: #ffffff; /*Borde*/
    font-weight: 600; /*Anchura de la tipografia*/
    color: #000000; /*Color de texto*/
    font-family: Arial, sans-serif; /*Tipografia*/
    padding: 8px 16px; /*Desplazamiento arriba y derecha*/
    transform: scale(1.05); /*Aumenta el tamaño*/
}

.botonSubir {
    position: fixed; /*Posición fija*/
    bottom: 20px; /*Posición hacia abajo*/
    right: 20px; /*Posición a la derecha*/
    background-color: #3f3f3f; /*Color de fondo*/
    color: white; /*Color del texto*/
    border-radius: 25%; /*Redondear bordes*/
    text-decoration: none; /*Decoración del texto*/
    width: 50px;  /*Anchura*/
    height: 50px; /*Altura*/
    font-size: 20px; /*Tamaño de la fuente*/
    text-align: center; /*Alineación del texto*/
    line-height: 50px; /*Altura de la linea*/
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /*Sombra*/
    transition: all 0.3s ease; /*Transición para el tamaño*/
    z-index: 1000; /*"ALTURA" del objeto permitiendo que esté por encima*/
  }
  
  .botonSubir:hover { /*Cuando el ratón esté encima del elemento*/
    background-color: #2b2b2b; /*Color de fondo*/
    transform: scale(1.1); /*Aumenta de tamaño*/
  }

  html {
    scroll-behavior: smooth;  /*Comportamiento para scrollear*/
  } /*En este caso, suave.*/

  #bienvenidaWeb {
    position: absolute; /*Posiciona el bloque sobre la imagen*/
    top: 20%; /* Distancia desde la parte superior */
    margin-left: 30%; /*Margen izquierdo*/
    background-color: rgba(63, 63, 63, 0.8); /* Fondo semi-transparente */
    padding: 15px; /*Espaciado general*/
    color: #e4e4e4; /*Color del texto*/
    border-radius: 8px; /*Redondear bordes*/
    font-family: sans-serif; /* Tipografía*/
}

#bienvenidaWeb:first-of-type { /*Primero de su tipo para que ponga un margen en la parte superior*/ /*sino, no acepta margenes*/
    margin-top: 120px; /*Añade un margen por encima del primer bloque de información*/
}

.container {
    display: flex; /*Flexibilidad al mostrarse el elemento*/
    gap: 70px; /*Espacio entre elementos*/
    max-width: 1900px; /*Anchura máxima*/
    margin: auto; /*Margenes*/
}

.column {
    align-items: center; /*Alinear items*/
    align-content: center; /*Alinear contenido*/
    flex: 1; /*Flexibilidad*/
    text-align: center; /*Alineación texto*/
    border: 1px rgba(0, 0, 0, 0); /*Borde*/
    padding: 10px; /*Espacio alrededor*/
    border-radius: 8px; /*Suavizado de esquinas*/
    background: linear-gradient(to bottom, rgb(39, 39, 39), #3a3a3a); /*Degradación*/
    display: inline-block; /*Como se muestra*/

    /* Animación/Transición donde se agranda */
    transition: transform 0.5s ease;
    /* Duración de la transición: 0.5s + efecto de suavizado */
}

.column img {
    max-width: 100%; /*Longitud maxima*/
    height: auto; /*Altura*/
    border-radius: 8px; /*Redondeado de esquinas*/
}

.tituloEntrada {
    font-family: Georgia, serif; /*Tipografia*/
    font-weight: bold; /*Estilo de tipografia*/
    margin-bottom: 5px; /*Margen inferior*/
    color: #FFFFFF; /*Color texto*/
    text-shadow: 4px 3px 0 #7A7A7A; /*Sombra texto*/
}

.description {
    font-family: Georgia, serif; /*Tipografia*/
    color: #FFFFFF; /*Color texto*/
    margin-top: 10px; /*Margen superior*/
}

.column:hover { /*Al colocar el ratón encima*/
    cursor: pointer; /*Cambia cursor*/
    transform: scale(1.05); /*Aumenta el tamaño*/
}

main {
    float: left; /*Flota + dirección*/
    width: 60%; /*Longitud - Anchura*/
}

aside {
    float: right; /*Flota + dirección*/
    width: 30%; /*Longitud - Anchura */
}

#subtitulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Tipografia*/
    color: #b1dbdb; /*Color texto*/
    text-align: center; /*Alineación texto*/
    padding-top: 2%; /*Padding superior*/

}

#titulop {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Tipografia*/
    color: #b1dbdb; /*Color texto*/
    text-align: center; /*ALineación texto*/
    padding-top: 5%; /*Padding superior*/
}

#bloqueInformacion .text {
    flex: 1; /*Flexibilidad*/
}

#bloqueInformacion .text h2 {
    font-size: 2rem; /*Tamaño de la fuente/Tipografia*/
    color: #b1dbdb; /*Color del texto*/
    margin-bottom: 10px; /*Margen inferior*/
}

#bloqueInformacion .text p {
    font-size: 1rem; /*Tamaño de la fuente/Tipografia*/
    line-height: 1.6; /*ALtura de la linea*/
    color: rgb(228, 228, 228); /*Color del texto*/
    text-align: justify; /*Alineación del texto*/
}
/*Recordatorio que # es para las IDS y . para las clases*/

#bloqueInformacion .image { /*Id bloqueinformación con clase image*/
    flex: 1; /*Flexibilidad*/
    display: flex; /*El como se muestra*/
    justify-content: right; /*Justificar contenido*/
    align-items: right; /*ALinear items*/
}

#bloqueInformacion .image img {
    max-width: 100%; /*Anchura maxima*/
    height: auto; /*Altura*/
    border-radius: 10px; /*Redondear borde*/
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /*Sombra texto*/
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Tipografia*/
    color: #b1dbdb; /*Color del texto*/
    text-align: center; /*Alineación del texto*/
    margin-top: 3%; /*Margen superior*/
}

hr {
    width: 200px; /*Anchura*/
}

.imagenesizquierda {
    justify-content: space-evenly; /*Distribuir elementos*/
    align-items: left; /*Alinear items*/
}

.formularioContacto {
            width: 460px; /*Anchura*/
            margin: 80px auto; /*Margen general*/
            margin-top: 130px; /*Margen superior*/
            margin-bottom: 20px; /*Margen inferior*/
            border-radius: 10px; /*Redondear bordes / esquinas */
            padding-top: 30px; /*Padding superior*/
            padding-bottom: 10px; /*Padding inferior*/
            background-color: #3f3f3f; /*Color de fondo*/
            box-shadow: #00000033; /*sombra*/
            padding-left: 30px; /*Padding lateral izquierdo*/
            padding-right: 30px; /*Padding lateral derecho*/
        }

        .formulario, h1{
            color: white; /*Color de texto*/
            text-align: center; /*Alinear texto*/
        }

        .formularioContacto input {
            background-color: #fbfbfb; /*Color de fondo*/
            width: 408px; /*Anchura*/
            height: 40px; /*Altura*/
            border-radius: 5px; /*Redondear bordes*/
            margin-top: 10px; /*margen superior*/
            padding-left: 10px; /*padding laterla izquierdo*/
            margin-bottom: 20px; /*margen inferior*/
    }

        textarea {
            background-color: #fbfbfb; /*Color de fondo*/
            width: 405px; /*Anchura*/
            height: 150px; /*Altura*/
            border-radius: 5px; /*Redondear borde*/
            border-style: solid; /*Estilo del borde*/
            border-width: 1px; /*Anchura del borde*/
            margin-top: 10px; /*Margen superior*/
            padding-left: 10px; /*Padding lateral izquierdo*/
            margin-bottom: 20px; /*Margen inferior*/
            padding-top: 15px; /*padding superior*/
        }


        label {
            display: block; /*Como se muestra*/
            float: center; /*Elemento flotante*/
        }


@media (max-width: 768px) { /*Si la ventana tiene 768px*/
    /* Media, para buen vistazo de la barra superior*/
    #barraSuperior {
        /*Hace que los elementos de la barra se muevan dependiendo donde le pongas*/
        flex-direction: column; /*Dirección de flexibilidad (hacia donde se estira)*/
        /*Espacio adicional para la barra superior*/
        padding: 15px; /*padding general*/
        
    }

    #navegacion {
        /*Centrar los botones*/
        width: 100%; /*anchura*/
        justify-content: center; /*Distribuir elementos*/

        /*Da espacio entre el logo y los botones*/
        gap: 10px; /*Espacio entre elementos*/
        margin-top: 10px; /*Margen superior*/
    }

    #boton {
        /*Mayor tamaño para los botones*/
        font-size: 14px; /*Tamaño de la tipografia*/
        padding: 10px 20px; /*padding | arriba y derecha*/
    }

    .botonSubir {
       background-color: #2b2b2b; /*Color de fondo*/
      }

}

/* Media, para el limite de imagenes en contenedores  */
@media (max-width: 1160px) { /*Si la pantalla tiene 1160px*/

    .imagenesizquierda {
        flex-direction: column; /*Dirección hacia donde se estira*/
        align-items: center; /*Alineación de los items*/
        /*Las imagenes se ven en vertical*/
    }

    .imagenesizquierda img {
        max-width: 100%; /*Anchura máxima*/
        height: auto; /*Altura*/
        margin-bottom: 10px; /*Margen inferior*/
    }

    
    #bienvenidaWeb { 
        display: none; /*Se ocultará*/
    }

    
    body > img {
        display: none; /*Se oculta*/
    }

    #bloqueInformacion {
        margin: 10px 2%; /*Margen arriba y derecha*/
    }

    #bienvenidaWeb {
        margin: 10px 2%; /*Margen arriba y derecha*/
    }

    .imagenes {
        flex-direction: column; /*como se estiran*/
        align-items: center; /*centrar items*/
        /*separación entre imagenes*/
    }

    .imagenes img {
        max-width: 100%; /*Anchura maxima*/
        height: auto; /*altura*/
        margin-bottom: 10px; /*margen inferior*/
    }
}
